@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 72px;
    background: #202938;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.header-logo {
    font-size: 20px;
    font-weight: 700;
}

.right-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.right-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
}