@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-section {
    background: #202938;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1000px;
    height: 64px;
    background: #202938;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 20px;
    font-weight: 700;
}

.right-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.right-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.hero-container {
    display: flex;
    background: #202938;
    color: white;
    margin: 100px 0;
}

.hero-text {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 500px;
    box-sizing: border-box;
    gap: 8px;
    padding-right: 32px;
    flex: 0 0 auto;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #bcc3ce;
}

button {
    padding: 8px 24px;
    border-radius: 8px;
    background: #3b82f6;
    border: 1px solid #3b82f6;
    color: white;
    font-weight: bold;
}

.hero-image {
    display: flex;
    background-color: #6d747e;
    justify-content: center;
    align-items: center;
    width: 500px;
    flex: 0 0 auto;
}

